<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/503error.css" rel="stylesheet">
    <title>503 under maintainence</title>
</head>
<body>
    <script src="https://use.fontawesome.com/87f6f824d6.js"></script>

<i class="fa fa-cogs cog-faint" aria-hidden="true"></i>
<div class="error-container">
  <div class="error">
    <div class="number">503</div>
    <div class="title">We'll be back shortly.</div>
    <div class="message">We are currently under maintenance. Please try again soon.</div>
    </div>
</div>
</body>
</html>