<!DOCTYPE  >
<html  lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> PROSHUB || JUSTALK</title>
  <link href='https://fonts.googleapis.com/css?family=Bungee Outline' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

  <link rel="stylesheet" href="/css/meme.css" />
  <script type="text/javascript" src="/js/meme.js"></script>
  <link rel = "shortcut icon" href ="/imgS/favicon op.jpg" type = "image/jpg">
</head>

<body>

  <div class="btns">
    <a href="https://youtube.com/c/progamerop" class="btn yt">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 461.001 461.001" style="enable-background:new 0 0 461.001 461.001;"
        xml:space="preserve">
        <g>
          <path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
                    c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
                    C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
                    c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z" />
        </g>
      </svg>
    </a>
    <a href="https://github.com/Pro-The-Dev-Op" class="btn">
      <svg width="256px" height="256px" viewBox="0 -3.5 256 256" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin meet">
        <g fill="#161614">
          <path
            d="M127.505 0C57.095 0 0 57.085 0 127.505c0 56.336 36.534 104.13 87.196 120.99 6.372 1.18 8.712-2.766 8.712-6.134 0-3.04-.119-13.085-.173-23.739-35.473 7.713-42.958-15.044-42.958-15.044-5.8-14.738-14.157-18.656-14.157-18.656-11.568-7.914.872-7.752.872-7.752 12.804.9 19.546 13.14 19.546 13.14 11.372 19.493 29.828 13.857 37.104 10.6 1.144-8.242 4.449-13.866 8.095-17.05-28.32-3.225-58.092-14.158-58.092-63.014 0-13.92 4.981-25.295 13.138-34.224-1.324-3.212-5.688-16.18 1.235-33.743 0 0 10.707-3.427 35.073 13.07 10.17-2.826 21.078-4.242 31.914-4.29 10.836.048 21.752 1.464 31.942 4.29 24.337-16.497 35.029-13.07 35.029-13.07 6.94 17.563 2.574 30.531 1.25 33.743 8.175 8.929 13.122 20.303 13.122 34.224 0 48.972-29.828 59.756-58.22 62.912 4.573 3.957 8.648 11.717 8.648 23.612 0 17.06-.148 30.791-.148 34.991 0 3.393 2.295 7.369 8.759 6.117 50.634-16.879 87.122-64.656 87.122-120.973C255.009 57.085 197.922 0 127.505 0" />
          <path
            d="M47.755 181.634c-.28.633-1.278.823-2.185.389-.925-.416-1.445-1.28-1.145-1.916.275-.652 1.273-.834 2.196-.396.927.415 1.455 1.287 1.134 1.923M54.027 187.23c-.608.564-1.797.302-2.604-.589-.834-.889-.99-2.077-.373-2.65.627-.563 1.78-.3 2.616.59.834.899.996 2.08.36 2.65M58.33 194.39c-.782.543-2.06.034-2.849-1.1-.781-1.133-.781-2.493.017-3.038.792-.545 2.05-.055 2.85 1.07.78 1.153.78 2.513-.019 3.069M65.606 202.683c-.699.77-2.187.564-3.277-.488-1.114-1.028-1.425-2.487-.724-3.258.707-.772 2.204-.555 3.302.488 1.107 1.026 1.445 2.496.7 3.258M75.01 205.483c-.307.998-1.741 1.452-3.185 1.028-1.442-.437-2.386-1.607-2.095-2.616.3-1.005 1.74-1.478 3.195-1.024 1.44.435 2.386 1.596 2.086 2.612M85.714 206.67c.036 1.052-1.189 1.924-2.705 1.943-1.525.033-2.758-.818-2.774-1.852 0-1.062 1.197-1.926 2.721-1.951 1.516-.03 2.758.815 2.758 1.86M96.228 206.267c.182 1.026-.872 2.08-2.377 2.36-1.48.27-2.85-.363-3.039-1.38-.184-1.052.89-2.105 2.367-2.378 1.508-.262 2.857.355 3.049 1.398" />
        </g>
      </svg>
    </a>
    <a href="/home" class="btn ">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9" />
        <path d="M9 22V12h6v10M2 10.6L12 2l10 8.6" />
      </svg>
    </a>
    <a href="/games " class="btn">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt"
        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M1180 4124 c-125 -33 -230 -96 -348 -208 -254 -242 -500 -723 -668
       -1310 -154 -539 -203 -1041 -128 -1334 35 -138 122 -253 212 -280 140 -42 333
       27 561 200 109 84 281 245 395 373 44 50 83 91 86 93 4 1 21 -20 38 -46 17
       -27 63 -79 101 -114 259 -245 668 -235 921 22 72 73 136 183 165 283 15 52 19
       57 44 57 26 0 30 -6 53 -78 89 -268 318 -444 599 -459 121 -7 220 13 330 69
       91 45 200 141 251 219 l31 48 156 -158 c228 -231 391 -361 567 -449 187 -94
       313 -95 415 -4 115 103 169 321 156 637 -28 682 -330 1596 -682 2063 -198 264
       -410 392 -645 392 -106 0 -196 -19 -306 -64 -118 -48 -226 -117 -309 -198
       l-69 -68 -546 0 -546 0 -69 68 c-118 115 -303 213 -462 247 -87 19 -232 18
       -303 -1z m2801 -709 c15 -4 41 -22 60 -41 28 -29 33 -43 37 -91 3 -48 0 -64
       -20 -93 -43 -64 -124 -87 -194 -54 -93 44 -112 178 -36 247 25 23 91 47 112
       42 8 -2 27 -7 41 -10z m-2584 -27 c21 -20 23 -30 23 -120 l0 -98 96 0 c92 0
       97 -1 125 -29 l29 -29 0 -157 0 -157 -29 -29 c-28 -28 -33 -29 -125 -29 l-96
       0 0 -95 c0 -88 -2 -98 -25 -120 -24 -24 -28 -25 -183 -25 -146 0 -162 2 -186
       21 -25 20 -26 24 -26 120 l0 99 -94 0 c-86 0 -98 2 -123 24 l-28 24 -3 161 -3
       161 30 30 c29 29 32 30 125 30 l96 0 0 97 c0 86 3 99 22 120 21 22 27 23 187
       23 155 0 166 -1 188 -22z m2276 -292 c108 -45 127 -185 34 -260 -32 -25 -47
       -30 -92 -30 -45 0 -60 5 -92 30 -70 57 -81 149 -26 215 47 55 112 72 176 45z
       m642 -6 c78 -38 109 -142 63 -210 -51 -74 -116 -95 -191 -62 -117 52 -122 212
       -7 273 45 24 84 24 135 -1z m-307 -320 c53 -32 74 -75 69 -142 -4 -62 -25 -96
       -79 -124 -39 -20 -107 -17 -146 6 -68 41 -91 156 -45 219 43 59 139 78 201 41z
       m-2010 -408 c188 -59 310 -260 272 -449 -45 -219 -248 -363 -459 -324 -130 24
       -244 112 -299 229 -24 50 -27 69 -27 162 0 97 2 110 31 170 86 183 289 272
       482 212z m1412 -18 c83 -39 155 -110 194 -194 29 -60 31 -73 31 -170 0 -95 -3
       -111 -28 -162 -125 -255 -448 -314 -644 -118 -145 145 -159 370 -33 529 82
       104 193 153 330 148 70 -2 97 -8 150 -33z" />
        </g>
      </svg>
    </a>
    <a href="/videos " class="btn ">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt"
        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M2377 4542 c-21 -33 -297 -575 -297 -583 0 -15 625 -12 638 4 5 6 76
       127 157 267 81 140 156 270 167 288 l20 32 -341 0 c-187 0 -342 -3 -344 -8z" />
          <path d="M3432 4338 c-132 -255 -192 -376 -192 -383 0 -3 143 -5 318 -5 l317
       0 140 242 c77 133 155 268 173 300 l33 58 -340 0 -339 0 -110 -212z" />
          <path d="M4551 4255 c-83 -162 -151 -297 -151 -300 0 -3 159 -4 353 -3 l352 3
       3 298 2 297 -204 0 -204 0 -151 -295z" />
          <path d="M0 4245 l0 -295 777 2 776 3 168 285 c93 157 169 288 169 293 0 4
       -425 7 -945 7 l-945 0 0 -295z" />
          <path d="M10 2258 c0 -779 4 -1326 10 -1361 18 -114 76 -206 167 -266 99 -66
       -78 -61 2400 -59 l2248 3 62 29 c69 31 148 107 181 172 42 83 42 92 42 1464
       l0 1320 -2555 0 -2555 0 0 -1302z m2645 184 c472 -235 525 -268 544 -339 14
       -51 4 -87 -41 -138 -35 -39 -90 -70 -461 -256 -231 -116 -445 -220 -475 -230
       -132 -46 -241 1 -281 120 -16 47 -15 879 0 932 15 48 62 106 103 124 19 9 56
       13 98 12 66 -3 77 -7 513 -225z" />
        </g>
      </svg>
    </a>
    <a href="/tictactoe " class="btn ">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt"
        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M51 5106 c-53 -30 -50 126 -51 -2543 0 -1904 3 -2488 12 -2508 27
       -59 -152 -55 2548 -55 2700 0 2521 -4 2548 55 9 20 12 604 12 2506 0 2699 4
       2520 -55 2547 -20 9 -370 12 -1461 12 -1560 0 -1476 3 -1502 -55 -15 -33 -15
       -57 0 -90 25 -55 20 -55 623 -55 l555 0 0 -720 0 -720 -720 0 -720 0 0 555 c0
       408 -3 561 -12 580 -21 47 -82 67 -133 43 -55 -25 -55 -20 -55 -623 l0 -555
       -720 0 -720 0 0 720 0 720 555 0 c408 0 561 3 580 12 29 13 55 55 55 88 0 33
       -26 75 -55 88 -40 18 -1251 16 -1284 -2z m4575 -335 l-149 -150 -49 25 c-139
       70 -299 72 -444 3 -248 -117 -353 -425 -228 -671 l26 -51 -151 -151 -151 -151
       0 648 0 647 647 0 648 0 -149 -149z m294 -646 l0 -645 -647 0 -648 0 151 151
       151 151 51 -26 c200 -101 444 -54 595 113 136 152 165 379 73 559 l-25 47 147
       148 c81 81 148 147 149 147 2 0 3 -290 3 -645z m-637 364 c20 -5 37 -13 37
       -17 0 -4 -87 -94 -194 -201 -216 -216 -209 -213 -222 -99 -24 205 177 373 379
       317z m208 -211 c36 -135 -32 -283 -159 -345 -47 -23 -70 -28 -132 -28 -42 1
       -85 7 -99 14 -23 13 -20 17 170 207 107 107 197 194 201 194 4 0 12 -19 19
       -42z m-2851 -1718 l0 -720 -720 0 -720 0 0 720 0 720 720 0 720 0 0 -720z
       m1346 571 l-149 -150 -48 25 c-268 136 -596 4 -700 -282 -32 -87 -32 -246 1
       -329 13 -33 30 -70 38 -83 15 -23 12 -27 -136 -175 l-152 -152 0 648 0 647
       647 0 648 0 -149 -149z m1934 -571 l0 -720 -720 0 -720 0 0 720 0 720 720 0
       720 0 0 -720z m-1640 -75 l0 -645 -647 0 -648 0 151 150 150 151 65 -31 c330
       -154 710 88 709 453 0 70 -25 172 -56 226 l-25 45 148 148 c81 81 149 148 150
       148 2 0 3 -290 3 -645z m-637 364 c20 -5 37 -13 37 -17 0 -9 -383 -392 -391
       -392 -14 0 -31 104 -26 153 22 182 204 305 380 256z m206 -206 c49 -176 -74
       -358 -256 -380 -48 -5 -153 12 -153 25 0 9 383 392 392 392 4 0 12 -17 17 -37z
       m-1504 -1153 l-150 -149 -60 28 c-195 94 -412 56 -566 -98 -154 -154 -192
       -371 -98 -566 l28 -60 -149 -150 -150 -150 0 648 0 647 647 0 648 0 -150 -150z
       m1935 -570 l0 -720 -720 0 -720 0 0 720 0 720 720 0 720 0 0 -720z m1640 0 l0
       -720 -720 0 -720 0 0 720 0 720 720 0 720 0 0 -720z m-3280 -75 l0 -645 -647
       0 -648 0 150 150 150 149 60 -28 c195 -94 412 -56 566 98 154 154 191 370 98
       566 l-28 60 147 148 c81 81 148 147 149 147 2 0 3 -290 3 -645z m-644 364 c24
       -6 44 -14 44 -18 0 -11 -389 -395 -395 -389 -3 3 -11 31 -17 62 -45 212 154
       399 368 345z m214 -220 c42 -173 -79 -344 -257 -366 -48 -5 -153 12 -153 25 0
       9 383 392 391 392 4 0 13 -23 19 -51z" />
          <path d="M569 2911 c-23 -23 -29 -38 -29 -71 0 -40 6 -47 117 -161 l116 -119
       -116 -119 c-111 -114 -117 -121 -117 -161 0 -33 6 -48 29 -71 23 -23 38 -29
       71 -29 40 0 47 6 161 117 l119 116 119 -116 c114 -111 121 -117 161 -117 33 0
       48 6 71 29 23 23 29 38 29 71 0 40 -6 47 -117 161 l-116 119 116 119 c111 114
       117 121 117 161 0 59 -41 100 -100 100 -40 0 -47 -6 -161 -117 l-119 -116
       -119 116 c-114 111 -121 117 -161 117 -33 0 -48 -6 -71 -29z" />
          <path d="M3849 2911 c-34 -34 -39 -82 -13 -121 9 -14 62 -71 118 -127 l101
       -103 -101 -102 c-56 -57 -109 -114 -118 -128 -43 -65 4 -150 84 -150 40 0 47
       6 161 117 l120 117 102 -101 c56 -55 113 -108 127 -117 66 -43 150 4 150 85 0
       40 -5 47 -117 161 l-117 118 117 118 c112 114 117 121 117 161 0 81 -84 128
       -150 85 -14 -9 -71 -62 -127 -117 l-102 -101 -120 117 c-114 111 -121 117
       -161 117 -33 0 -48 -6 -71 -29z" />
          <path d="M2209 1271 c-34 -34 -39 -82 -13 -121 9 -14 62 -71 118 -127 l101
       -103 -101 -102 c-56 -57 -109 -114 -118 -128 -43 -65 4 -150 84 -150 40 0 47
       6 161 117 l120 117 102 -101 c56 -55 113 -108 127 -117 66 -43 150 4 150 85 0
       40 -5 47 -117 161 l-117 118 117 118 c112 114 117 121 117 161 0 81 -84 128
       -150 85 -14 -9 -71 -62 -127 -117 l-102 -101 -120 117 c-114 111 -121 117
       -161 117 -33 0 -48 -6 -71 -29z" />
          <path d="M4082 1404 c-197 -53 -340 -210 -374 -411 -25 -150 31 -316 145 -427
       193 -189 488 -194 684 -12 139 129 194 319 144 498 -71 258 -347 420 -599 352z
       m252 -218 c60 -29 104 -73 138 -139 19 -34 23 -58 23 -127 0 -69 -4 -93 -23
       -127 -35 -66 -79 -110 -140 -140 -78 -38 -183 -40 -256 -4 -245 120 -227 462
       29 554 69 24 158 18 229 -17z" />
          <path d="M1691 5106 c-87 -48 -50 -186 49 -186 51 0 100 49 100 99 0 75 -83
       124 -149 87z" />
          <path d="M2443 4686 c-208 -51 -362 -232 -379 -449 -24 -296 236 -557 533
       -533 358 29 569 407 407 728 -36 71 -132 169 -203 207 -110 58 -240 75 -358
       47z m252 -219 c124 -63 192 -212 156 -344 -40 -147 -193 -243 -344 -215 -210
       39 -313 282 -194 459 33 50 107 106 161 123 56 17 166 6 221 -23z" />
          <path d="M569 4551 c-34 -34 -39 -82 -13 -121 9 -14 62 -71 117 -127 l101
       -102 -117 -120 c-111 -114 -117 -121 -117 -161 0 -80 85 -127 150 -84 14 9 71
       62 128 118 l102 101 103 -101 c56 -56 113 -109 127 -118 65 -43 150 4 150 84
       0 40 -6 47 -117 161 l-117 120 101 102 c55 56 108 113 117 127 43 66 -4 150
       -85 150 -40 0 -47 -5 -161 -117 l-118 -117 -118 117 c-114 112 -121 117 -161
       117 -34 0 -49 -6 -72 -29z" />
        </g>
      </svg>
    </a>
    <a href="/squidgame " class="btn ">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="307.000000pt" height="164.000000pt"
        viewBox="0 0 307.000000 164.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,164.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M1610 1311 c0 -218 -1 -238 -21 -278 -12 -24 -34 -50 -50 -58 -39
     -21 -98 -19 -136 5 -52 32 -63 64 -63 195 l0 115 -35 0 -35 0 0 -119 c0 -110
     2 -122 28 -172 55 -105 194 -142 289 -76 22 15 49 45 61 66 21 37 22 50 22
     297 l0 259 -30 0 -30 0 0 -234z" />
          <path d="M364 1256 c-28 -28 -34 -41 -34 -78 0 -91 48 -118 213 -118 122 0
     137 -6 137 -50 0 -49 -6 -50 -287 -50 l-263 0 0 -35 0 -35 265 0 c292 0 311 3
     340 60 29 56 12 120 -42 156 -22 15 -54 20 -158 24 l-130 5 -10 29 c-8 24 -6
     31 14 47 20 17 41 19 162 19 l139 0 0 30 0 30 -156 0 -156 0 -34 -34z" />
          <path d="M912 1269 c-147 -73 -145 -282 3 -355 45 -21 65 -26 106 -22 l50 5
     40 -78 c21 -43 39 -81 39 -84 0 -3 -66 -5 -147 -5 -170 0 -208 -11 -261 -75
     -81 -99 -53 -248 58 -305 34 -17 59 -20 194 -20 l155 0 61 -115 61 -115 40 0
     40 0 -24 42 c-14 24 -68 127 -121 231 l-97 187 -120 0 -119 0 0 -35 0 -35 100
     0 100 0 26 -51 25 -51 -133 4 c-148 3 -172 12 -208 71 -34 55 -22 114 35 167
     26 24 31 25 204 28 l177 3 13 36 c13 35 12 40 -35 135 l-48 98 28 28 c35 37
     58 112 50 163 -22 134 -169 209 -292 148z" />
          <path d="M1768 1090 l3 -200 29 0 30 0 0 200 0 200 -32 0 -33 0 3 -200z" />
          <path d="M1930 1091 l0 -201 173 0 c145 0 178 3 212 19 139 63 153 256 26 346
     l-43 30 -184 3 -184 3 0 -200z m374 108 c36 -29 56 -70 56 -120 0 -35 -6 -48
     -39 -80 l-39 -39 -141 0 -141 0 0 130 0 130 139 0 c125 0 141 -2 165 -21z" />
          <path d="M1730 530 l0 -200 35 0 35 0 1 123 0 122 62 -122 62 -123 43 0 43 0
     59 121 60 122 0 -127 0 -126 35 0 35 0 0 205 0 205 -34 0 -35 0 -81 -161 -82
     -162 -35 64 c-19 35 -57 108 -84 162 -48 95 -50 97 -84 97 l-35 0 0 -200z" />
          <path d="M2297 723 c-4 -3 -7 -93 -7 -200 l0 -193 205 0 205 0 0 85 0 85 120
     0 120 0 0 30 0 30 -120 0 -120 0 0 85 0 85 -198 0 c-109 0 -202 -3 -205 -7z" />
          <path d="M1367 525 l-97 -195 200 0 200 0 -97 195 c-54 107 -100 195 -103 195
     -3 0 -49 -88 -103 -195z" />
        </g>
      </svg>
    </a>
    <a href="/menja " class="btn ">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
width="1620.000000pt" height="1620.000000pt" viewBox="0 0 1620.000000 1620.000000"
preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,1620.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M5560 13400 l0 -560 150 0 150 0 0 285 c0 157 3 285 8 285 4 0 45
-84 91 -187 46 -104 89 -194 94 -200 6 -8 36 -13 82 -13 46 0 76 5 82 13 5 6
47 96 94 199 46 103 87 188 92 188 4 0 7 -128 7 -285 l0 -285 150 0 150 0 0
560 0 560 -165 -2 -166 -3 -117 -255 c-65 -140 -122 -255 -127 -255 -5 0 -61
115 -125 255 l-117 255 -167 3 -166 2 0 -560z"/>
<path d="M6907 13953 c-4 -3 -7 -255 -7 -560 l0 -553 400 0 400 0 0 130 0 130
-242 2 -243 3 -3 87 -3 88 203 2 203 3 0 120 0 120 -202 3 -203 2 0 80 0 80
238 2 237 3 0 130 0 130 -386 3 c-212 1 -388 -1 -392 -5z"/>
<path d="M7847 13953 c-4 -3 -7 -255 -7 -560 l0 -553 155 0 155 0 2 272 3 272
220 -272 219 -272 123 0 123 0 -2 558 -3 557 -150 0 -150 0 -5 -280 -5 -280
-223 283 -223 282 -113 0 c-62 0 -116 -3 -119 -7z"/>
<path d="M9328 13583 c-4 -413 -6 -432 -63 -469 -37 -24 -110 -28 -175 -9 -97
28 -90 33 -121 -90 -16 -60 -29 -115 -29 -121 0 -16 81 -51 149 -65 74 -14
212 -6 286 16 92 29 159 84 202 169 45 89 52 169 53 574 l0 372 -149 0 -150 0
-3 -377z"/>
<path d="M10075 13948 c-3 -7 -57 -164 -121 -348 -64 -184 -149 -431 -190
-548 l-73 -213 156 3 156 3 31 105 32 105 145 3 c109 2 149 -1 156 -10 5 -7
23 -57 39 -110 l28 -98 153 0 c84 0 153 3 153 6 0 11 -370 1075 -380 1095 -10
17 -23 19 -146 19 -99 0 -136 -3 -139 -12z m197 -520 c25 -87 43 -160 40 -163
-3 -3 -47 -5 -99 -5 -68 0 -93 3 -93 13 0 27 94 327 101 320 4 -5 27 -79 51
-165z"/>
<path d="M1645 10175 c-2 -5 -6 -63 -8 -128 l-5 -118 46 3 46 3 11 55 c6 30
14 60 18 67 9 14 70 33 105 33 l22 0 0 -278 c0 -317 0 -316 -75 -328 -44 -6
-45 -7 -45 -43 l0 -36 197 3 c109 2 198 4 199 5 1 1 4 19 7 39 l6 37 -57 3
c-83 4 -83 6 -77 273 3 121 8 244 11 274 l6 53 46 -6 c58 -7 77 -29 92 -101
l11 -55 45 0 44 0 0 38 c0 22 -3 79 -6 128 l-7 89 -315 0 c-201 0 -316 -4
-317 -10z"/>
<path d="M2518 10182 l-147 -3 -6 -29 c-8 -39 0 -50 36 -50 22 0 32 -6 39 -26
15 -37 12 -501 -3 -544 -11 -31 -27 -43 -74 -55 0 0 -4 -16 -8 -36 l-7 -36
164 5 c104 3 166 9 170 16 4 6 8 24 8 39 0 26 -3 28 -28 23 -17 -4 -35 -1 -47
7 -17 13 -18 26 -17 128 2 62 5 115 8 118 3 3 70 7 150 9 l144 4 0 -114 c0
-99 -3 -117 -18 -131 -10 -10 -24 -17 -30 -17 -19 0 -42 -31 -42 -56 l0 -24
168 2 167 3 3 37 c3 37 3 37 -33 36 -20 -1 -41 4 -48 11 -13 13 -12 363 1 511
7 72 8 76 39 90 30 14 43 35 43 70 0 13 -23 15 -157 12 -167 -4 -173 -6 -173
-54 0 -24 4 -27 38 -30 l37 -3 3 -122 3 -123 -152 0 -151 0 7 108 c8 120 14
137 50 146 20 5 25 13 25 36 0 17 0 33 1 37 1 9 12 9 -163 5z"/>
<path d="M3523 10183 c-244 -3 -253 -4 -255 -23 -4 -54 -3 -55 32 -60 l35 -5
3 -279 c3 -301 0 -316 -50 -332 -28 -8 -38 -22 -38 -54 l0 -25 285 1 c157 0
288 4 292 8 4 4 15 57 23 117 l15 109 -51 0 -51 0 -6 -37 c-9 -53 -31 -80 -75
-93 -46 -12 -152 -13 -172 0 -17 10 -26 125 -16 195 l7 45 125 0 c111 0 124 2
124 18 0 9 3 33 6 53 l6 37 -132 -6 -133 -5 8 109 c4 60 9 112 12 117 2 4 42
7 89 7 101 0 124 -15 124 -80 l0 -40 44 0 c25 0 47 4 50 8 2 4 10 46 16 92 6
47 14 95 17 108 5 20 2 22 -38 20 -24 -2 -158 -4 -296 -5z"/>
<path d="M5099 10183 l-157 -3 -5 -33 c-6 -42 -2 -47 38 -47 21 0 35 -6 39
-16 10 -27 7 -531 -4 -559 -6 -15 -23 -32 -39 -38 -28 -10 -41 -31 -41 -67 0
-13 37 -15 272 -15 l272 0 13 110 c6 61 13 123 15 140 3 34 -12 41 -66 31 -30
-6 -32 -10 -43 -68 -17 -86 -43 -111 -126 -116 -104 -7 -101 -15 -94 278 4
135 10 259 15 275 6 21 18 33 38 40 47 16 54 24 54 61 0 22 -4 33 -12 32 -7
-1 -83 -4 -169 -5z"/>
<path d="M5802 10171 c-104 -39 -192 -129 -229 -233 -25 -73 -25 -252 0 -323
27 -78 83 -145 152 -180 49 -25 72 -31 146 -33 147 -6 253 40 331 143 90 119
111 319 48 461 -25 58 -85 121 -144 152 -70 36 -224 42 -304 13z m177 -105
c82 -43 125 -143 125 -296 1 -183 -59 -270 -186 -270 -72 0 -117 31 -154 107
-25 49 -29 71 -32 172 -5 126 5 178 41 232 41 63 140 89 206 55z"/>
<path d="M6629 10171 c-108 -35 -180 -100 -233 -211 -29 -61 -31 -72 -31 -185
0 -111 2 -125 29 -182 37 -80 103 -143 182 -173 52 -19 73 -21 169 -18 136 6
234 31 239 62 8 44 25 210 22 214 -2 1 -27 0 -55 -4 -45 -6 -52 -10 -58 -33
-25 -107 -102 -158 -200 -132 -96 26 -153 138 -153 300 0 98 10 144 43 191 37
55 70 74 141 78 104 7 146 -27 146 -119 l0 -40 52 3 52 3 17 115 c10 63 15
118 11 122 -13 12 -150 28 -234 27 -51 0 -105 -7 -139 -18z"/>
<path d="M7278 10183 l-147 -4 -6 -29 c-8 -39 0 -50 36 -50 47 0 51 -25 47
-316 -3 -283 -4 -287 -59 -299 -16 -4 -29 -12 -29 -18 0 -7 -3 -22 -6 -35 l-6
-22 168 2 169 3 3 37 c3 36 2 38 -25 32 -16 -3 -36 1 -47 9 -18 13 -19 28 -17
208 0 107 4 236 7 287 7 91 7 93 38 109 17 9 34 21 38 27 13 19 9 66 -4 64 -7
-1 -79 -4 -160 -5z"/>
<path d="M8080 10170 c-106 -39 -170 -118 -170 -213 0 -98 37 -139 211 -228
125 -64 149 -86 149 -137 0 -56 -34 -85 -108 -90 -100 -7 -138 23 -149 118 -5
46 -8 51 -27 46 -12 -3 -31 -6 -43 -6 -23 0 -27 -12 -39 -147 l-6 -72 72 -22
c103 -31 253 -25 334 15 128 63 178 197 111 300 -24 35 -77 71 -204 136 -142
73 -172 127 -105 188 21 18 37 22 90 22 56 0 68 -4 89 -25 19 -18 25 -35 25
-70 l0 -46 47 3 48 3 13 104 c16 118 18 114 -61 131 -80 17 -215 12 -277 -10z"/>
<path d="M10550 10183 c-261 -4 -260 -3 -260 -55 0 -24 4 -27 38 -30 l37 -3 2
-275 c3 -304 1 -318 -55 -335 -28 -8 -32 -13 -32 -45 l0 -35 285 1 c157 0 287
2 289 5 4 4 36 200 36 221 0 4 -22 8 -48 8 l-48 0 -13 -50 c-17 -68 -41 -83
-145 -88 -114 -6 -118 -2 -114 137 l3 106 122 3 c136 3 128 -1 135 77 l3 30
-127 -4 -128 -3 1 88 c2 143 -2 139 107 139 56 0 96 -4 103 -12 6 -6 14 -32
16 -58 l6 -46 46 3 46 3 11 85 c20 144 21 140 -28 138 -24 -2 -153 -4 -288 -5z"/>
<path d="M11297 10180 c-32 -4 -60 -9 -62 -11 -2 -2 -53 -146 -114 -319 -98
-278 -115 -319 -144 -345 -20 -17 -37 -44 -40 -62 l-6 -33 144 -1 c80 -1 151
-2 158 -3 7 -1 13 14 15 37 3 37 3 37 -35 37 -22 0 -48 6 -58 14 -18 13 -18
15 -1 80 11 40 25 70 37 76 10 6 62 10 117 10 l100 0 17 -63 c23 -86 19 -100
-32 -111 -41 -9 -52 -24 -53 -67 0 -14 19 -16 173 -11 178 5 187 7 187 49 0
16 -9 24 -35 33 -22 7 -41 23 -50 40 -14 28 -93 299 -156 538 l-32 122 -36 -1
c-20 -1 -62 -5 -94 -9z m51 -279 c18 -65 32 -126 32 -135 0 -13 -13 -16 -86
-16 -65 0 -85 3 -82 13 3 6 22 67 43 135 21 67 44 122 50 122 7 0 26 -53 43
-119z"/>
<path d="M11908 10183 l-147 -4 -6 -29 c-8 -39 0 -50 36 -50 47 0 51 -25 47
-316 -3 -283 -4 -287 -59 -299 -16 -4 -29 -12 -29 -18 0 -7 -3 -22 -6 -35 l-6
-22 168 2 169 3 3 37 c3 36 2 38 -25 32 -16 -3 -36 1 -47 9 -18 13 -19 28 -17
208 0 107 4 236 7 287 7 91 7 93 38 109 17 9 34 21 38 27 13 19 9 66 -4 64 -7
-1 -79 -4 -160 -5z"/>
<path d="M12698 10183 l-158 -4 -1 -24 c-1 -14 -2 -31 -3 -37 -1 -8 16 -15 39
-18 l40 -5 3 -275 c1 -151 0 -285 -3 -296 -3 -14 -20 -28 -45 -38 -35 -14 -40
-20 -40 -49 l0 -33 168 4 c92 2 168 5 169 6 0 0 3 17 4 36 4 33 2 35 -24 32
-40 -4 -65 14 -72 51 -9 49 12 523 24 546 6 11 24 22 41 26 27 6 30 10 30 46
0 21 -3 38 -7 37 -5 -1 -79 -4 -165 -5z"/>
<path d="M14098 10171 c-70 -23 -112 -49 -160 -98 -78 -81 -114 -193 -106
-333 9 -158 85 -271 214 -320 53 -20 72 -22 184 -17 85 3 143 10 180 23 l55
19 5 136 c4 112 8 141 23 156 9 11 17 29 17 41 0 22 -3 22 -145 22 -144 0
-145 0 -145 -22 0 -13 -3 -33 -6 -45 -6 -22 -3 -23 43 -23 27 0 54 -5 61 -12
7 -7 12 -42 12 -89 l0 -77 -32 -13 c-45 -19 -125 -16 -171 6 -45 21 -82 73
-103 141 -17 57 -19 227 -3 275 33 97 108 144 222 137 61 -3 72 -7 93 -31 18
-22 24 -40 24 -79 0 -42 3 -49 16 -44 9 3 33 6 55 6 38 0 39 1 39 38 1 20 7
70 14 110 9 51 9 75 2 81 -18 15 -149 31 -243 30 -56 0 -109 -7 -145 -18z"/>
<path d="M4187 10148 c-6 -43 -2 -48 38 -48 21 0 35 -6 39 -16 3 -9 6 -137 6
-285 l0 -270 -25 -24 c-13 -14 -33 -25 -45 -25 -15 0 -20 -6 -20 -24 0 -13 -2
-30 -5 -38 -4 -11 38 -13 228 -13 l233 0 59 30 c101 52 149 141 130 242 -8 45
-67 106 -120 123 l-35 12 49 46 c85 81 95 188 23 260 -56 56 -90 62 -335 62
l-215 0 -5 -32z m352 -68 c95 -27 119 -126 49 -206 -31 -36 -58 -41 -127 -28
l-31 7 0 102 c0 57 3 110 6 119 7 18 52 21 103 6z m48 -351 c51 -25 73 -61 73
-120 0 -33 -6 -47 -34 -75 -32 -32 -39 -34 -98 -34 -102 0 -108 8 -108 141 l0
109 62 0 c42 0 75 -7 105 -21z"/>
<path d="M7534 10155 c-8 -33 1 -55 24 -55 29 0 44 -23 33 -51 -5 -13 -55 -73
-110 -134 -56 -60 -101 -113 -101 -117 0 -12 199 -329 224 -357 35 -39 77 -52
148 -45 74 8 88 16 88 55 0 21 -5 29 -17 29 -42 0 -84 44 -182 188 -55 83
-101 154 -101 157 0 14 203 232 238 255 20 13 38 24 39 25 0 0 4 17 8 38 l7
37 -146 0 -146 0 -6 -25z"/>
<path d="M8767 10148 c-6 -43 -2 -48 38 -48 21 0 35 -6 39 -16 3 -9 6 -137 6
-285 l0 -270 -25 -24 c-13 -14 -33 -25 -45 -25 -15 0 -20 -6 -20 -24 0 -13 -2
-30 -5 -38 -4 -11 38 -13 228 -13 l233 0 59 30 c101 52 149 141 130 242 -8 45
-67 106 -120 123 l-35 12 49 46 c85 81 95 188 23 260 -56 56 -90 62 -335 62
l-215 0 -5 -32z m352 -68 c95 -27 119 -126 49 -206 -31 -36 -58 -41 -127 -28
l-31 7 0 102 c0 57 3 110 6 119 7 18 52 21 103 6z m48 -351 c51 -25 73 -61 73
-120 0 -33 -6 -47 -34 -75 -32 -32 -39 -34 -98 -34 -102 0 -108 8 -108 141 l0
109 62 0 c42 0 75 -7 105 -21z"/>
<path d="M9520 10150 c0 -16 0 -33 0 -37 -1 -5 16 -10 37 -13 l38 -5 3 -278
c1 -180 -1 -285 -8 -297 -6 -11 -27 -27 -46 -35 -31 -13 -35 -18 -32 -46 l3
-31 155 1 c85 1 155 3 156 4 1 1 5 16 8 34 7 30 6 32 -29 39 -19 3 -40 15 -45
25 -6 10 -10 58 -10 108 l0 91 45 0 45 0 64 -127 c35 -71 78 -141 96 -158 31
-29 34 -30 118 -27 91 3 104 9 100 51 -2 18 -11 27 -32 32 -43 12 -80 52 -146
161 -59 94 -69 118 -51 118 19 0 105 87 122 125 22 48 24 133 5 178 -7 18 -28
45 -45 60 -57 48 -113 57 -343 57 l-208 0 0 -30z m352 -71 c65 -17 90 -48 96
-111 5 -64 -12 -105 -58 -138 -23 -17 -41 -20 -87 -18 l-58 3 -3 105 c-2 58 0
120 3 138 5 28 10 32 38 32 18 0 49 -5 69 -11z"/>
<path d="M12164 10155 c-8 -33 1 -55 24 -55 29 0 44 -23 33 -51 -5 -13 -55
-73 -110 -134 -56 -60 -101 -113 -101 -117 0 -12 199 -329 224 -357 35 -39 77
-52 148 -45 74 8 88 16 88 55 0 21 -5 29 -17 29 -42 0 -84 44 -182 188 -55 83
-101 154 -101 157 0 14 203 232 238 255 20 13 38 24 39 25 0 0 4 17 8 38 l7
37 -146 0 -146 0 -6 -25z"/>
<path d="M12970 10168 c0 -7 -3 -22 -6 -34 -5 -18 1 -23 40 -33 26 -6 50 -19
56 -30 13 -26 -3 -530 -19 -559 -6 -12 -23 -25 -36 -28 -18 -4 -25 -13 -25
-29 0 -13 -2 -30 -5 -37 -5 -12 19 -14 142 -10 81 2 149 5 150 6 1 1 4 18 5
37 3 32 1 34 -24 31 -16 -1 -37 2 -48 8 -19 10 -20 21 -20 220 0 116 3 210 8
210 7 0 211 -302 316 -468 l47 -73 57 7 c31 3 58 7 59 8 1 1 5 141 9 312 3
170 10 325 15 346 7 27 16 39 39 47 17 5 30 16 30 23 0 7 3 23 6 36 l6 22
-145 0 c-156 0 -157 0 -157 -55 0 -20 6 -24 37 -27 49 -4 51 -12 52 -230 1
-136 -2 -178 -11 -178 -12 0 -138 185 -278 408 l-52 82 -124 0 c-92 0 -124 -3
-124 -12z"/>
<path d="M6806 8819 c-62 -15 -154 -69 -193 -113 -129 -148 -135 -420 -12
-559 22 -26 65 -58 97 -74 55 -27 63 -28 197 -27 109 0 153 5 199 20 l58 19 2
132 c1 119 3 134 23 162 42 56 28 62 -131 59 l-141 -3 -3 -42 -3 -43 45 0 c63
0 76 -16 76 -99 0 -79 -5 -86 -76 -102 -143 -33 -241 72 -252 268 -11 202 59
302 209 303 67 0 116 -15 129 -40 6 -10 10 -42 10 -71 0 -48 1 -51 23 -45 12
3 36 6 52 6 l31 0 16 113 c9 61 14 114 12 116 -2 2 -34 10 -71 17 -77 15 -239
17 -297 3z"/>
<path d="M7608 8821 c-31 -3 -59 -9 -63 -12 -3 -4 -53 -140 -111 -304 -116
-329 -123 -345 -159 -371 -13 -11 -28 -34 -31 -51 l-6 -33 146 -1 c80 -1 152
-2 159 -3 7 -1 13 14 15 37 3 37 3 37 -33 37 -45 0 -75 15 -75 39 0 30 32 115
48 129 10 8 51 12 118 12 l102 0 16 -66 c21 -84 16 -99 -37 -110 -39 -8 -42
-12 -45 -45 l-3 -35 173 4 c95 2 174 5 174 6 1 0 5 15 8 33 7 29 5 32 -29 43
-22 7 -41 23 -51 42 -15 29 -115 373 -165 566 l-24 92 -35 -1 c-19 -1 -61 -5
-92 -8z m50 -285 c18 -68 32 -129 32 -135 0 -7 -29 -11 -85 -11 -47 0 -85 3
-85 7 0 25 86 263 95 263 6 0 26 -56 43 -124z"/>
<path d="M9333 8823 c-244 -3 -253 -4 -255 -23 -4 -54 -3 -55 32 -60 l35 -5 3
-279 c3 -301 0 -316 -50 -332 -28 -8 -38 -22 -38 -54 l0 -25 285 1 c157 0 288
4 292 8 4 4 15 57 23 117 l15 109 -51 0 -51 0 -6 -37 c-9 -53 -31 -80 -75 -93
-46 -12 -152 -13 -172 0 -17 10 -26 125 -16 195 l7 45 125 0 c111 0 124 2 124
18 0 9 3 33 6 53 l6 37 -132 -6 -133 -5 8 109 c4 60 9 112 12 117 2 4 42 7 89
7 101 0 124 -15 124 -80 l0 -40 44 0 c25 0 47 4 50 8 2 4 10 46 16 92 6 47 14
95 17 108 5 20 2 22 -38 20 -24 -2 -158 -4 -296 -5z"/>
<path d="M8076 8804 c-14 -36 -6 -52 29 -58 42 -8 65 -38 59 -80 -2 -17 -13
-130 -25 -251 -12 -121 -27 -235 -35 -253 -7 -18 -24 -36 -39 -42 -20 -7 -25
-16 -25 -42 l0 -33 118 3 c64 2 123 5 130 7 6 3 12 18 12 35 0 25 -4 30 -23
30 -13 0 -31 6 -41 13 -18 13 -18 23 -7 183 15 225 21 278 31 268 4 -5 47
-128 95 -274 49 -146 91 -268 94 -271 3 -4 22 -4 42 -2 l35 5 53 161 c82 249
132 387 140 387 10 0 35 -403 27 -434 -4 -15 -17 -28 -36 -34 -26 -10 -30 -16
-30 -48 l0 -37 38 7 c20 3 85 6 145 6 l107 0 0 39 c0 33 -3 38 -18 34 -10 -2
-28 4 -40 14 -27 22 -35 80 -53 370 -14 225 -13 228 47 239 31 6 34 9 34 40
l0 34 -129 0 -130 0 -81 -251 c-45 -138 -85 -248 -90 -243 -8 8 -60 171 -127
394 l-29 95 -136 3 c-117 2 -136 0 -142 -14z"/>
<path d="M4745 4225 c-53 -19 -111 -82 -125 -136 -23 -84 9 -196 67 -237 69
-48 171 -53 239 -12 60 38 39 74 -23 40 -76 -41 -170 -18 -213 52 -26 42 -27
130 -2 177 36 72 121 99 208 66 31 -12 49 -14 56 -7 15 15 1 32 -46 53 -49 22
-106 23 -161 4z"/>
<path d="M5155 4226 c-141 -52 -180 -244 -71 -352 92 -93 246 -81 320 24 50
70 47 189 -6 265 -43 61 -164 92 -243 63z m155 -54 c45 -25 74 -82 74 -147 0
-100 -61 -165 -155 -165 -56 0 -106 30 -132 80 -24 47 -19 148 9 187 44 60
137 80 204 45z"/>
<path d="M5530 4025 l0 -215 30 0 30 0 0 80 0 80 53 0 c63 0 136 33 154 70 22
44 16 115 -13 149 -31 38 -77 51 -176 51 l-78 0 0 -215z m207 141 c14 -17 23
-40 23 -61 0 -21 -9 -44 -23 -61 -20 -23 -34 -28 -85 -32 l-62 -4 0 97 0 97
62 -4 c51 -4 65 -9 85 -32z"/>
<path d="M5920 4109 l80 -132 0 -83 c0 -83 0 -84 25 -84 25 0 25 1 25 81 l0
81 67 112 c37 61 73 121 81 134 14 21 13 22 -16 22 -28 0 -35 -8 -92 -106 -34
-58 -64 -103 -67 -100 -3 3 -31 49 -62 103 -52 89 -60 98 -89 101 l-33 3 81
-132z"/>
<path d="M6280 4026 l0 -216 25 0 c25 0 25 1 25 90 l0 90 33 0 c30 0 39 -8 97
-87 57 -77 69 -88 99 -91 l34 -3 -30 38 c-16 21 -48 64 -71 95 l-42 57 33 16
c83 39 90 167 10 205 -15 7 -70 15 -120 18 l-93 4 0 -216z m173 163 c49 -22
60 -83 24 -125 -20 -23 -34 -28 -85 -32 l-62 -4 0 86 0 86 50 0 c27 0 60 -5
73 -11z"/>
<path d="M6670 4025 l0 -215 25 0 25 0 0 215 0 215 -25 0 -25 0 0 -215z"/>
<path d="M6960 4228 c-88 -25 -142 -102 -142 -203 0 -103 55 -182 145 -206 51
-14 138 -7 190 14 l37 16 0 85 0 86 -65 0 c-58 0 -65 -2 -65 -20 0 -17 7 -20
40 -20 l40 0 0 -51 c0 -48 -1 -51 -37 -66 -24 -10 -55 -13 -86 -10 -83 8 -138
64 -145 150 -12 144 98 221 241 170 38 -14 49 -15 60 -4 10 10 7 16 -11 31
-45 37 -130 49 -202 28z"/>
<path d="M7280 4025 l0 -215 25 0 25 0 0 100 0 100 120 0 120 0 0 -100 0 -100
25 0 25 0 0 215 0 215 -25 0 c-25 0 -25 0 -25 -95 l0 -95 -120 0 -120 0 0 95
c0 95 0 95 -25 95 l-25 0 0 -215z"/>
<path d="M7690 4215 c0 -24 2 -25 70 -25 l70 0 0 -190 0 -190 30 0 30 0 0 190
0 190 65 0 c63 0 65 1 65 25 l0 25 -165 0 -165 0 0 -25z"/>
<path d="M8210 4025 l0 -215 30 0 30 0 0 80 0 80 53 0 c63 0 136 33 154 70 22
44 16 115 -13 149 -31 38 -77 51 -176 51 l-78 0 0 -215z m207 141 c14 -17 23
-40 23 -61 0 -21 -9 -44 -23 -61 -20 -23 -34 -28 -85 -32 l-62 -4 0 97 0 97
62 -4 c51 -4 65 -9 85 -32z"/>
<path d="M8580 4026 l0 -216 25 0 c25 0 25 1 25 90 l0 90 33 0 c30 0 39 -8 97
-87 57 -77 69 -88 99 -91 l34 -3 -30 38 c-16 21 -48 64 -71 95 l-42 57 33 16
c83 39 90 167 10 205 -15 7 -70 15 -120 18 l-93 4 0 -216z m173 163 c49 -22
60 -83 24 -125 -20 -23 -34 -28 -85 -32 l-62 -4 0 86 0 86 50 0 c27 0 60 -5
73 -11z"/>
<path d="M9055 4228 c-87 -30 -135 -102 -135 -203 0 -74 26 -133 71 -167 169
-125 385 15 339 219 -27 121 -157 192 -275 151z m163 -65 c39 -28 62 -80 62
-138 0 -129 -117 -204 -230 -147 -103 52 -102 243 3 296 42 22 128 16 165 -11z"/>
<path d="M9645 4225 c-76 -27 -135 -114 -135 -200 0 -92 66 -182 150 -205 53
-14 148 -7 190 15 30 15 30 16 30 100 l0 85 -60 0 c-53 0 -60 -2 -60 -20 0
-16 7 -20 35 -20 l35 0 0 -54 c0 -52 -1 -55 -31 -65 -79 -27 -177 5 -211 69
-23 45 -24 134 0 179 37 74 125 100 222 65 44 -16 52 -16 60 -4 19 29 -68 70
-146 70 -22 -1 -57 -7 -79 -15z"/>
<path d="M10091 4218 c-5 -13 -41 -104 -81 -203 -40 -99 -75 -186 -77 -193 -4
-10 2 -13 23 -10 24 2 31 11 50 58 l22 55 99 3 99 3 20 -58 c18 -49 25 -59 48
-61 14 -2 26 0 26 5 0 4 -37 101 -82 215 -80 200 -84 208 -111 208 -19 0 -30
-7 -36 -22z m80 -151 l37 -92 -75 -3 c-42 -2 -78 -1 -80 2 -3 3 12 48 32 101
21 53 40 93 44 90 3 -4 22 -48 42 -98z"/>
<path d="M10390 4026 c0 -209 1 -216 20 -216 19 0 20 7 20 165 0 91 3 165 8
165 4 0 38 -57 76 -125 38 -69 76 -131 83 -137 20 -16 31 -2 110 142 l68 125
3 -167 2 -168 25 0 25 0 0 215 0 215 -25 0 c-28 0 -41 -19 -125 -175 -29 -55
-57 -106 -63 -113 -7 -9 -32 28 -92 135 -70 128 -85 148 -108 151 l-27 3 0
-215z"/>
<path d="M10940 4025 l0 -215 130 0 c123 0 130 1 130 20 0 19 -7 20 -105 20
l-105 0 0 80 0 80 85 0 c78 0 85 2 85 20 0 18 -7 20 -85 20 l-85 0 0 75 0 75
105 0 c98 0 105 1 105 20 0 19 -7 20 -130 20 l-130 0 0 -215z"/>
<path d="M11290 4025 l0 -215 30 0 30 0 0 90 0 90 33 0 c29 0 38 -9 96 -90 56
-78 69 -90 94 -90 l29 0 -17 28 c-10 15 -37 52 -60 82 -59 79 -59 76 -21 98
94 56 80 183 -23 212 -20 5 -71 10 -113 10 l-78 0 0 -215z m200 150 c20 -18
27 -66 14 -100 -10 -25 -58 -45 -109 -45 l-45 0 0 86 0 86 60 -4 c39 -3 66
-11 80 -23z"/>
</g>
</svg>
  </a>


  </div>
  <footer>
    <div>
        <span>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger intent="WELCOME"
            chat-title="PROGAMER"
            agent-id="179386f1-1011-4294-896d-971fabc1c904"
            language-code="en"
          ></df-messenger><!--HTTPS only...--><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
          <df-messenger  intent="WELCOME"
          chat-title="PROGAMER"
          agent-id="179386f1-1011-4294-896d-971fabc1c904"></df-messenger>
          
        </span>
    </div>
  </footer>




</body>

</html >