<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="format-detection" content="telephone=no">
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="on this site you can get premium games for free and know more about me alas pls visit this site">
    <meta property="og:title" content="Get Premium Games for free and know more about me" />
    <meta property="og:description" content="on this site you can get premium games for free and know more about me alas pls visit this site" />
    <meta property="og:image" content="https://yt3.ggpht.com/1HGYBt4n_lgptIbqe0Dk9bfrsHvJobhM3c3CqnPrKARyx8JUH1zw2n9ywl-pRMhyKuPfP6OzcxU=s176-c-k-c0x00ffffff-no-rj" />
    <meta name="author" content="PRO GAMER" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="PROSHUB" />
    <link rel="canonical" href="https://progamerop.ml" />
    <link rel="stylesheet" href="/css/menja.css">
    <link rel ="shortcut icon" href ="/imgS/favicon op.jpg" type = "image/jpg">
    
    
    <script type="application/ld+json">
      {"author":{"@type":"Person","name":"Pro Gamer"},"description":"on this site you can get premium games for free and know more about me alas pls visit this site","@context":"https://schema.org"}</script>
    <title>PROSHUB || MENJA</title>
</head>
<body>
    <a href="/meme">
        go to chat
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/games ">
        go to games
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
    <a href="/home ">
        go to home
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
    <a href="/videos ">
        go to videos
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
    <a href="/squidgame ">
        go to squid game
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/tictactoe ">
        go to tic tac toe
    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    

                    
      
    
    
   
    <canvas id="c"></canvas>
    <div class="hud">
        <div class="hud__score">
            <div class="score-lbl"></div>
            <div class="cube-count-lbl"></div>
        </div>
    </div>
    <div class="pause-btn"><div></div></div>
	    <div class="slowmo">
		    <div class="slowmo__bar"></div>
	    </div>
    </div>
    <div class="menus">
        <div class="menu menu--main">
            <h1>MENJA</h1>
            <button type="buttons" class="play-normal-btn">PLAY GAME</button>
            <button type="buttons" class="play-casual-btn">CASUAL MODE</button>
            
        </div>
        <div class="menu menu--pause">
            <h1>Paused</h1>
            <button type="buttons" class="resume-btn">RESUME GAME</button>
            <button type="buttons" class="menu-btn--pause">MAIN MENU</button>
        </div>
        <div class="menu menu--score">
            <h1>Game Over</h1>
            <h2>Your Score:</h2>
            <div class="final-score-lbl"></div>
            <div class="high-score-lbl"></div>
            <button type="buttons" class="play-again-btn">PLAY AGAIN</button>
            <button type="buttons" class="menu-btn--score">MAIN MENU</button>
        </div>
    </div>





	

<footer>
    <div>
        <span>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger intent="WELCOME"
            chat-title="PROGAMER"
            agent-id="179386f1-1011-4294-896d-971fabc1c904"
            language-code="en"
          ></df-messenger><!--HTTPS only...--><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
          <df-messenger  intent="WELCOME"
          chat-title="PROGAMER"
          agent-id="179386f1-1011-4294-896d-971fabc1c904"></df-messenger>
          
        </span>
    </div>
</footer>
<script src="/js/menja.js"></script>

    
</body>
</html>